# In order to get .env approach working, you might copy this file. This file is read
# line by line by django-environ library (Refer to its documentation to more info).
# Each line is formed by KEY=VALUE where `KEY` is the configuration read by the
# settings.py file. You need to change the values after the `=` sign and can create
# new values by appending new variables at the end of the file.

DEBUG=1
HOST=localhost
PORT=8000
DATABASE_URL=postgres://postgres:<postgres_pwd>@postgres:5432/postgres
REDIS_URL=redis://redis:6379
SECRET_KEY=<random_string_goes_here>