[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
django = "~=2.2.3"
"boto3" = "~=1.16.51"
django-environ = "~=0.4.5"
django-storages = "~=1.11"
psycopg2 = "~=2.8.6"
waitress = "~=1.4.4"
whitenoise = "~=5.2.0"
djangorestframework = "~=3.11.1"
django-bootstrap4 = "~=1.1.1"
django-allauth = "~=0.42.0"
django-rest-auth = "~=0.9.5"
django-extensions = "~=3.1.0"
packaging = "*"
drf-yasg = "~=1.20.0"
# fcm-django is used for mobile notifications. It can be removed if unneeded.
fcm-django = "~=0.3.7"
pyyaml = "~=5.3.1"
pillow = "~=8.1.0"
