[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==2.4.0"
urllib3 = "==2.1.0"
django = "==3.2.23"

[dev-packages]

[requires]
python_version = "3.8"
