[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==2.4.0"
urllib3 = ">=2.2.2"
django = ">=4.2.16"

[dev-packages]

[requires]
python_version = "3.8"
